h3 {
    background-color: #065566;
    color:white;
    padding: 1em;
}

details {
    margin: 1em 0em 1em 0em;
}

details > summary:hover {
    cursor: pointer;
}

code, .code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
    color: black;
}

.code {
    display: block;
    max-width: 40vw;
}

li {
    /*list-style: none;*/
    margin-left: 1em;
    list-style-type: "- "
}

/*table {*/
/*    width: 1px; !important;*/
/*}*/
/*table td:first-child {*/
/*    width: 1px; !important;*/
/*}*/

.list {
    list-style-type: "- ";
}

.code-block {
    background-color: #202020;
    color: white !important;
    padding: 1em !important;
}

.parent {
    font-weight: bold;
    margin-bottom: 1em;
}
.route {
    background-color: #065566;
    color: white;
    padding: 0.2em;
    margin-right: 1em;
}

.btn-default {
    border-color: black !important;
}

.btn-default:hover{
    background-color: #AAAAAA;
}

.bold {
    font-weight: bold;
}

.indent {
    margin-left: 2em;
}

details .indent {
    margin-top: 0em; !important;
    margin-bottom: 0em; !important;
}